.GoogleButton {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffffff;
  color: #96767d;
  border-radius: 3px;
  padding: 0.5em;
  font-size: 1em;
  font-weight: bold;
  border: none;
  cursor: pointer;

  .Logo {
    height: 20px;
    margin: 0px 5px;
  }

  &:hover {
    background-color: #ccc7c733;
  }
}
