.TodoForm {
  display: flex;
  flex-direction: column;
  flex-basis: 80%;
  border: none;
  padding: unset;
  margin: 1em;
  border-radius: 5px;
}

.Heading {
  padding-bottom: 1em;
  border-bottom: 3px solid lightseagreen;
}

.FieldsContainer {
  display: flex;
  flex-direction: column;

  & > :first-child {
    margin-right: unset;
  }
}

.SubTaskContainer {
  display: flex;
  flex-direction: column;
}

.ButtonsContainer {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  margin-top: 1em;

  & > * {
    margin: 5px 0;
  }
}

@media (min-width: 600px) {
  .FieldsContainer {
    flex-direction: row;

    & > :first-child {
      margin-right: 2em;
    }
  }

  .ButtonsContainer {
    flex-direction: row;

    & > * {
      margin: none;
    }
  }

  .TodoForm {
    flex-basis: unset;
    border: 3px solid lightseagreen;
    padding: 1em;
  }
}
