.Toast {
  position: fixed;
  max-width: 200px;
  padding: 0.5em 1em;
  background-color: #474141;
  box-shadow: 1px 1px 3px #ccc;
  border-radius: 1em;
  color: white;
  text-align: center;
  z-index: 500;
  bottom: 2em;
  left: 1em;
}
