.TodoListItem {
  flex-basis: 70%;
  padding: 1em;
  margin: 1em;
  border: 5px solid lightseagreen;
  border-radius: 5px;
  cursor: pointer;
}

.Header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 1.5em;
}

.HeaderTitle {
  margin-right: 20px;
}

.HeaderInfo {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;

  & > * {
    margin-left: 10px;
  }

  & > :first-child {
    margin-left: 0px;
  }
}

.SubTaskContainer {
  display: flex;
  flex-wrap: nowrap;

  & > :first-child {
    margin-left: 0;
  }

  & > :last-child {
    margin-right: 0;
  }
}

.SubTask {
  margin: 10px;
  background: turquoise;
  border-radius: 5px;
  padding: 5px;
  font-weight: 500;
}
