.ErrorDialog {
  display: flex;
  flex-direction: column;
  border: 3px solid lightseagreen;
  border-radius: 5px;
  background: white;
  color: lightseagreen;
  font-size: large;
  font-weight: bold;
  width: 300px;
  padding: 2em;
}
