.SignUp {
  border: 3px solid lightseagreen;
  border-radius: 5px;
  height: 100%;
  padding: 2em;
  margin: 1em;
}

.Heading {
  border-bottom: 3px solid lightseagreen;
  padding-bottom: 1em;
}

.SignUpButton {
  width: 100%;
  margin-top: 1em;
}
