.Header {
  position: sticky;
  top: 0;
  z-index: 500;
}

.NavigationBar {
  display: flex;
  align-items: center;
  background-color: lightseagreen;
  height: 3em;

  & > * {
    margin: 0 0.5em;
  }
}

.Icon {
  height: 100%;
  padding: 0 1em;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.AppTitle {
  margin-left: auto;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.MenuItem {
  display: block;
  padding: 0.5em;
  text-decoration: none;
  font-size: large;
  font-weight: bold;
  color: lightseagreen;
  border-radius: 5px;

  &:hover,
  &:active,
  &.active {
    background-color: #80808014;
  }

  &.disabled {
    background-color: transparent;
    color: #80808091;
    pointer-events: none;
    cursor: default;
  }
}

.LogInOut {
  display: block;
  text-align: start;
  border: none;
  width: 100%;
  padding: 0.5em;
  text-decoration: none;
  font-size: large;
  font-weight: bold;
  color: white;
  background-color: lightseagreen;
  border-radius: 5px;
  cursor: pointer;
}
