.LoadingProgressBar {
  position: relative;
  height: 0.3em;
  background: #20b2aa33;
  overflow: hidden;
}

.FilledArea {
  position: absolute;
  height: 100%;
  width: 40%;
  background: #16928b;
  animation: moveFilledArea 2s cubic-bezier(0.65, 0.815, 0.735, 0.395) 0s infinite normal none;
  will-change: left;
}

@keyframes moveFilledArea {
  0% {
    left: -40%;
  }
  100% {
    left: 100%;
  }
}
